/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 500px; }

.item {
  background-size: cover;
}

blockquote {
    margin-top: 50px;
    margin-bottom: 50px;
}
.col-xs-6 {
  padding-bottom: 15px;
}

#carousel-example-generic {
  width: 100%;
  overflow: hidden;
  max-height: 700px;
}

.carousel img {
  object-fit: cover;
  overflow: hidden;
  min-width: 100%;
  height: 800px;
  max-width: none;
}

.carousel-caption {
    top: 625px;
}

ol.carousel-indicators {
    top: 600px;
}


dt.bg-info {
    text-align: center;
}













